body{
    font-family: 'Courier New', Courier, monospace;
    
    background-color: #EEFBFB;


}
main{
    width:70%;
    margin: 3em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EEFBFB;



    
}

.figure{
    box-shadow: 0 4px 8px 0 rgba(155, 147, 147, 0.918);
  transition:  top ease 0.5s;

}
.figure:hover {
    box-shadow: 0 8px 16px 0 rgba(22, 19, 19, 0.2);
    
  }

.caption{
    display: block;
    margin: 2px;
    text-decoration: solid;
    
}


